*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#list{
    background-color: rgb(233, 42, 42);
    width: 600px;
    height: 250px;
}
h1{
    text-align: center;
    color: aliceblue;
    padding-top: 40px;
}
#input{
padding-left: 10px;
margin-top: 30px ;
width: 400px;
line-height: 30px;
}
select{
    margin-top: 10px ;
    width: 100%;
line-height: 30px;
line-height: 30px;
background-color: aquamarine;
}
