* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1919;
}
.logo {
  padding-left: 50px;
  padding-top: 25px;
}
header {
  position: relative;
  display: flex;
}
nav {
  position: absolute;
  top: 25px;
  right: 350px;
  display: flex;
}
nav a {
  color: aliceblue;
  text-decoration: none;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
nav a:hover {
  opacity: 0.5;
}
.join {
  position: absolute;
  top: 25px;
  right: 130px;
  width: 204px;
  height: 50;
  opacity: 1;
  border-radius: 5px;
  border-width: 1.5px;
  background-color: #333333;
  color: aliceblue;
  padding: 20px 50px;
}
.join:hover {
  opacity: 0.5;
}
.title {
  text-align: center;
  color: aliceblue;
  padding-top: 150px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
span {
  color: rgb(43, 43, 211);
}
p {
  padding: 20px;
}
.started {
  width: 204px;
  height: 50px;
  margin-top: 45px;
  background: rgb(19, 180, 230);
  border-radius: 5px;

  border: none;
  margin-bottom: 50px;
}
.featured {
  width: 204px;
  height: 50px;
  margin-top: 45px;
  border-radius: 5px;
  border: none;
  margin-bottom: 50px;
}
p {
  font-size: 15px;
}
.button {
  display: flex;
  justify-content: center;
  gap: 20px;
}
main {
  padding: 0px 100px;
}
.letus {
  padding-top: 100px;
  text-align: center;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
.get {
  text-align: center;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
.oreange {
  width: 360px;
  margin-left: 33px;
}
.puple {
  width: 320px;
  margin-left: 8px;
}
.blue {
  width: 320px;
  margin-left: 29px;
}
.choose {
  width: 400px;
  margin-top: 30px;
  margin-right: 300px;
  margin-bottom: 50px;
}
.featuredevolopers {
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}
.Use {
  padding-left: 0;
}
.GetFeatured {
  width: 204px;
  height: 50px;
  margin-top: 45px;
  background: rgb(19, 180, 230);
  border-radius: 5px;
  border: none;
  margin-bottom: 50px;
}
.message {
  padding: 40px;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 25px;
}
.read {
  font-size: 20px;
}
.enjoy {
  margin-top: 50px;
  margin-bottom: 50px;
}
.doyou {
  color: aliceblue;
  text-align: center;
  width: 1200px;
  height: 250px;
  margin-top: 45px;
  background: rgb(5, 157, 228);
  border-radius: 5px;
  border: none;
  margin-bottom: 50px;
  position: relative;
  margin-left: 10px;
  padding-top: 40px;
  width: 100%;
  
}
.joinclubweb {
  width: 204px;
  height: 50px;
  /* margin-top: 10px; */
  background: rgb(0, 10, 14);
  border-radius: 5px;
  border: none;
  color: antiquewhite;
}
.footer {
  margin: 50px 0px;
  display: flex;
  justify-content: space-around;
}
a {
  color: aliceblue;
  text-decoration: none;
  gap: 100px;
}

.photos {
  display: flex;
 flex-wrap: wrap;
 gap: 20px;
  .item-photo {
    width: 385px;
    height: 277px;
   border: 1px solid black;
  }
}
.choose{
  width: 100%;
  img{
    width: 90%;
  }
}
